
/*body {
    min-width: 756px;
}*/

#admin-bar {
	height:145px;
}

@media screen and (max-width: 750px) {
    #admin-bar {
        height: 250px;
    }
}

/*.board-toolbar li {
    color: #fff;
    font-weight: bold;
}
*/
.title.bordered {
	line-height: 25px;
	margin-bottom: 5px;
}

h2.title {
	padding: 10px 0 5px 0;
}

#board-logo {
    margin-bottom: 2px;
}

#toggle-header {
    width: 25px;
    height: 20px;
    background-color: #21212100;
    margin-left: 0px;
}

#toggle-header-icon {
    margin-top: 1px;
    margin-bottom: 1px;
}

#toggle-header-icon.icon-chevron-up {
    margin-top: 20px;
    margin-bottom: 1px;
}

.datasource-list-container {
    max-height: 75px
}


/*#toggle-header-icon.icon-wrench {
    background-color: #21212100;
}*/

.logo-Mholan {
    width: 35px;
    height: 30px;
    content: url(../img/Mholan_Logo.png);
}

.add-pane {
	margin-top: 5px;
}

.gridster header {
    height: 0px;
}

header h1 {
    line-height: 0px;
    font-size:10px;
}

.board-toolbar li {
	padding:2px 3px;
    margin: 1px 2px;
    /*background-color: #0003;*/
    border-radius: 2px;
}

div.calculated-setting-row ul.board-toolbar li,
.board-toolbar.vertical li {
    padding: 8px 8px;
}

li.column-tool {
	margin-top: -3px;
}

.text-button {
    color: #fff;
    font-weight: 400;
}


.gridster .gs_w {
	overflow: visible;
	background-color: #383838
}

.gridster section, 
.sub-section,
.widget {
	overflow: visible;
}

.pane-tools {
	height: 20px;
	position: absolute;
	top: -20px;
    opacity: 0;
    z-index: 100 !important;
}

.pane-tools li,
.pane-tools li i {
	z-index: 100 !important;
}

#main-header {
	z-index: 100;
}
.modal {
	z-index: 200;
}
#admin-menu * {
	z-index: 300;
}

.pane-tools li {
	padding:2px 3px;
    margin: 1px 2px;
    /*background-color: #0003;*/
    border-radius: 2px;
    /*border: 1px solid #ffffff33;*/

}

.tooltip {
    z-index: 350;
}

li.gs_w.player-revert {
    z-index: 100 !important;
}

.pane-tools:hover {
  opacity: 1;
}

header:hover ul.pane-tools {
  opacity: 1;
}

li:hover header ul.pane-tools {
  opacity: 1;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: 0;
    background-color: #F90;
}

.modal {
	top: 50px;
}

.wrapperloading {
    position: absolute;
    height: 100px;
    width: 100px;
    margin-top: -50px;
    margin-left: -50px;

}

.wrapperloading .loading.up {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 75px;
}

.wrapperloading .loading.down {
    height: 50px;
    width: 50px;
    margin-top: -25px;
    margin-bottom: 25px;
    margin-left: -25px;
    margin-right: 25px;
}

#board-content {
    padding:0 !important;
    margin:0;
    bottom:0 !important;
	margin-top: 3px;
	/*margin-top: -20px;*/
	/*margin-top: -10px;*/
	/*margin-bottom: 50px;*/
}
#board-content-bottom {
    height:15px
}
#board-content-bottom.edited {
    height:30px !important;
}
#board-content-bottom.full-screen {
    height:0px !important;
}

.iconblackboard {
	background-image:url(../img/glyphicons-blackboard.png);
	width:14px;
	height:14px;
}

.iconlogin {
	background-image:url(../img/glyphicons-log-in.png);
	width:14px;
	height:14px;
}

.iconlogout {
	background-image:url(../img/glyphicons-log-out.png);
	width:14px;
	height:14px;
}

.icon-resize-fullscreen {
	background-image:url(../img/glyphicons-log-out.png);
	width:14px;
	height:14px;
	background-size: contain;
	/*background-color: #fff;*/
}

.icon-resize-full {
    background-position: -216px 0
}
.icon-resize-small {
    background-position: -216px 0
}

.widget {
	padding: 3px 0px;
	align-items: center;
	align-content: center;
	justify-content: center;
	vertical-align: middle;
	align-self: center;
}

.gs_w.transparent_bg {
	/*background-color: #2a2a2a66;*/
	/*opacity: 0.5*/
}

.transparent_bg.active {
	background-color: #2a2a2a00 !important;
	opacity: 1;
	/*opacity: 0;*/
}

.sub-section {
    border-width: 0 !important;
}

/*.tw-display {
	margin-left: 10px;
}*/

h2.section-title {
	height:12px !important;
	font-size: 12px;
	padding-left: 10px;
	padding-right: 10px;
}


/* Text Sparkline Widget */
.tw-value-wrapper {
	height:18px !important;
	padding-left: 10px;
	padding-right: 10px;
}

/*.tw-value-subwrapper {
	height: 100%;
	width:100%;
}*/

.tw-value {
	vertical-align: bottom;
}
.tw-unit {
	padding:0 0 3px 3px !important;
	font-size: 10px;
}

.tw-sparkline canvas {
	height: 40px !important;
	/*padding: 0 10px;*/
}
.tw-sparkline {
	padding-left: 2%;
	padding-right: 2%;
}
/* Sparkline */
.sparkline {
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 2%;
	padding-right: 2%;
}

.sparkline-legend {
	padding: 0 10px;
}

.sparkline-legend-value {
	font-size: 12px;
	width: 33% ;
}

.sparkline-legend-value span{
	font-size: 14px;
}


/* Pointer Widget */
svg {
	left: 50% !important; 
	transform: translateX(-50%);
	position: relative;
} 

.pointer-value {
/*	justify-content: center !important;
	vertical-align: middle !important;
	align-items: center !important;
	align-content: center !important;*/
}

.widget-big-text {
	padding-top: calc(45% - 17px);
	/*margin: auto;*/
}


/* Longdo Map Widget */
.ldmap_bottomright .ldmap_notice {
	visibility: hidden !important;
}


/* Indicator Light */
.indicator-light-container {
	margin-top:17px;
	bottom: 0;
	width: 100%;
/*	text-align: center;
	justify-content: center;*/
	vertical-align: middle;
}
.indicator-light,
.indicator-text {
	margin: 0;
	transform: translateY(-50%);
}
.indicator-light {
	margin: 0 5px;
	/*margin-left: 20px;*/
}
.indicator-text {
	font-size: 16px;
	display: inline-block;
}


/* Slider*/
.ui-slider-horizontal {
    height: 10px !important;
}

.myui-slider-handle {
	width: 20px !important;
	height: 20px !important;
}

.slider-label {
	margin-top:3px;
}

.slider-value {
    position: absolute;
    color: #fff;
    top:18px;
    right: 10px;
    font-size: 13px;
    font-weight: bold;
}

/* Toggle */
.netpie-toggle {
	/*height:30px;*/
	margin:2px 5px;
}

.netpie-toggle-label {
	height:30px !important;
	width:98px;
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px ;
}

.netpie-toggle-text {
    vertical-align: middle;
    padding: 12px 0 0 10px;
    float: left;
}


/* Hichart */
rect.highcharts-button-box {
/*	width:20px !important;
	height:20px !important;*/
	fill: #0000 !important;
}
/*path.highcharts-button-symbol {
	width:10px !important;
	height:80px !important;
}*/


/* Horizontal Gauge */
.horizontal-gauge-container div.rangeSlider div.rangeSlider__handle,
.horizontal-gauge-container div.rangeSlider div.rangeSlider__handle:after {
	background-color: #0000;
	background: #0000;
	border: 0px solid #0000;
	box-shadow: none;
}
.horizontal-gauge-container div.rangeSlider div.rangeSlider__fill {
	border-radius: 5px;

}

.horizontal-gauge-container * {
	pointer-events: none !important;
}


/* Code Editor */
/*.code-window-header {
    padding: 10px 20px;
}
*/









/*.sub-section-height-1 {
	height: 40px;
}
.sub-section-height-2 {
	height: 86px;
}
.sub-section-height-3 {
	height: 132px;
}
.sub-section-height-4 {
	height: 178px;
}
.sub-section-height-5 {
	height: 224px;
}
.sub-section-height-6 {
	height: 270px;
}
.sub-section-height-7 {
	height: 216px;
}
.sub-section-height-8 {
	height: 362px;
}
.sub-section-height-9 {
	height: 408px;
}
.sub-section-height-10 {
	height: 456px;
}
*/

/*.sub-section {
    border-bottom: solid 1px #363636;
}*/


body {
	/*background: url(https://tunchz.github.io/PoC/MWA/static/diagonal-noise_dark.png);*/
	/*background: url(https://tunchz.github.io/PoC/MWA/static/diagonal-noise.png);*/
}











/*

.clone-ribbon-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 150px;
    height: 150px;
    overflow: hidden
}

.clone-ribbon {
    position: absolute;
    top: 42px;
    right: -43px;
    z-index: 9999;
    padding: 2px 0;
    background-color: #a00;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.15)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#000000', EndColorStr='#000000');
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5)
}

.clone-ribbon a {
    display: inline-block;
    width: 200px;
    padding: 2px 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
    border-color: rgba(255, 255, 255, 0.7);
    border-style: dotted;
    border-width: 1px 0
}*/

#footer-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 25px;
    background-color: #313131;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000
}

#footer-menu {
    position: absolute;
    right: 0;
    left: 0;
    /*max-width: 950px;
    padding-right: 20px;
    padding-left: 20px;*/
    margin: 0 10px;
}

#footer-logo.title.bordered {
    float: left;
    padding: 3px 3px;
    margin:0;
    /*margin: 3px 0 0 0;*/
    font-size: 12px;
    line-height: 18px;
    border-width: 2px
}

.logo-Mholan-footer {
    width: 20px;
    height: 17px;
    content: url(../img/Mholan_Logo.png);
}

#avatar-footer {
	float: left;
	margin: 2px;
	margin-left: 20px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border:1px solid #444;
    content: url(../img/Mholan_Logo.png);
}

#board-title {
    display: block;
    max-width: 50%;
    padding-left: 5px;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 100;
    line-height: 23px;
    color: #d3d4d4;
    text-overflow: ellipsis;
    /*text-transform: uppercase;*/
    white-space: nowrap
}

#footer-toolbar {
    position: absolute;
    top: 1px;
    right: 0
}

.share-link {
    margin-top: 20px;
    font-size: 16px;
    letter-spacing: 2px;
    color: #d3d4d4;
    cursor: pointer;
    -webkit-user-select: all;
    -khtml-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
    -webkit-touch-callout: all
}

.share-list-container {
    padding-bottom: 30px;
    margin-top: 20px
}

.shared-with-list {
    max-height: 175px;
    margin-bottom: 20px;
    overflow: scroll
}

.shared-with-row {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    clear: both;
    color: #d3d4d4
}

.shared-with-field {
    float: left;
    padding-top: 5px;
    margin-right: 10px
}

.shared-with-email {
    width: 50%
}

.shared-with-rights {
    width: 115px;
    padding-top: 0
}

.shared-with-rights .styled-select select {
    width: 100%
}

.shared-with-toolbar {
    padding-top: 0
}

#dev-console {
    font-size: 9px;
    color: #575656
}

.dev-console-bar {
    position: absolute;
    top: 11px;
    right: 11px
}

#publicPrivateSwitch {
    width: 110px
}

#publicPrivateSwitch .onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: 0
}

#publicPrivateSwitch .onoffswitch-switch {
    right: 79px
}

/*@media screen and (max-width:960px) {*/
@media screen and (max-width:500px) {
    #dev-console {
        display: none
    }

    #full-screen-action {
        display: none
    }

    #share-action {
        display: none
    }

    #clone-action {
        display: none
    }
}