
/*body {
    min-width: 756px;
}*/
html *,
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  /*font-family: DB Heavent,mitr extralight, helvetica neue,sans-serif;*/
}

#main-header {
    top:0;
}
#admin-bar {
    height:145px;
}

@media screen and (max-width: 750px) {
    #admin-bar {
        height: 250px;
    }
}

#admin-bar.full-screen {
    height:0px !important;
}
#admin-menu {
    width:85%;
}


.title.bordered {
	line-height: 25px;
	margin-bottom: 5px;
}

h2.title {
	padding: 10px 0 5px 0;
}

#board-logo {
    margin-bottom: 2px;
}

/*#edit-toggle {
    left:20px !important;
    right:auto !important;
    top: auto !important;
    bottom: 2px !important;
}*/

.board-toolbar li {
    color: #fff; /*#B88F51;*/
}

.edit-toggle-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #FFF;
    border-radius: 20px;
}

.edit-toggle-switch {
    display: block;
    width: 12px;
    height: 12px;
    margin: 4px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 25px;
    border: 2px solid #007FFF;
    border-radius: 20px;
    transition: all 0.1s ease-in 0s;
}

.edit-toggle {
    /*float: left;*/
    position: absolute;
    left: 20px;
    bottom: 2px;
    width: 50px;
    margin: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.edit-toggle-text {
    vertical-align: top;
    padding: 15px 0px 0px 15px;
    float: left;
}

.edit-toggle-checkbox {
    display: none;
}

.edit-toggle-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.1s ease-in 0s;
}

.edit-toggle-inner:before, .edit-toggle-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 20px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.edit-toggle-inner:before {
    content: url("../img/sun.png");
    padding-left: 8px;
    background-color: #FF9900;
    color: #FFFFFF;
    text-align: left;
}

.edit-toggle-inner:after {
    content: url("../img/moon.png");
    padding-right: 3px;
    background-color: #313131;
    color: #FFFFFF;
    text-align: right;
}


.edit-toggle-checkbox:checked + .edit-toggle-label .edit-toggle-inner {
    margin-left: 0;
}

.edit-toggle-checkbox:checked + .edit-toggle-label .edit-toggle-switch {
    right: 0px;
}

.edit-toggle-switch {
    display: block;
    width: 12px;
    height: 12px;
    margin: 4px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 25px;
    border: 2px solid #999999;
    border-radius: 20px;
    transition: all 0.1s ease-in 0s;
}

.edit-toggle-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
}





#main-header {
    height: 145px;
}

#toggle-header {
    width: 25px;
    height: 20px;
    background-color: #21212100;
    margin-left: 0px;
    margin-right: 0px;
    cursor: default;
}

li {
    list-style-type: none;
}

#add-pane-header-icon,
#toggle-header-icon {
/*    margin-top: 1px;
    margin-bottom: 1px;*/
    margin:3px;
}

#toggle-header li {
    width: 20px;
    height: 20px;
    margin-top:5px;
    margin-left:2px;
    border-radius: 2px;
    transition: margin-top 0.4s ease-in-out;
}

div#full-screen-action:hover,
#toggle-header li:hover {
    /*padding-left:10px;*/

    background-color: #9993 !important;
}

#toggle-header li#add-pane-header-icon {
    visibility:hidden;
}

#toggle-header.edited li {
    margin-top:20px;
    visibility:visible !important;
    transition: margin-top 0.4s ease-in-out;
}

#toggle-header li i {
    display: inline-block;
    width: 14px;
    height: 14px;
    color: #fff;
}

#toggle-header li label {
    width: 120px;
    float: left;
    color: #fff9;
    font-size:11px;
    padding-left: 25px;
    text-align: left;
    margin-top: -20px;
    opacity: 0;
    visibility: hidden;
}

#toggle-header li:hover label {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.4s ease-in-out;
}

#footer-bar.presented {
    background-color: #31313100; 
    -webkit-box-shadow: none;
    box-shadow: none;
    pointer-events: none;
    transition: background-color 0.4s ease-in-out;
}

#footer-bar #footer-menu #footer-logo {
    margin-left:0px;
    transition: margin-left 0.4s ease-in-out;
}

#footer-bar.presented #footer-menu #footer-logo {
/*    visibility: hidden;
    width:0;*/
    margin-left:-110px;
    transition: margin-left 0.4s ease-in-out;
}

#footer-bar.presented #footer-menu #avatar-footer {
    margin-left:-5px;
    transition: margin-left 0.4s ease-in-out;
}

#footer-bar.presented #footer-menu #footer-toolbar {
    right:-200px;
    transition: right 0.4s ease-in-out;
}

/*#toggle-header-icon.icon-chevron-up {
    margin-top: 20px;
    margin-bottom: 1px;
}*/

/*#add-pane-header-icon {
    margin-top: 20px;
}*/

/*#add-pane-header-icon:hover {
    width:20px;
    height: 20px;
    background-position: 20px 20px;
}*/

.datasource-list-container {
    max-height: 75px
}


/*#toggle-header-icon.icon-wrench {
    background-color: #21212100;
}*/

.logo-Mholan {
    width: 35px;
    height: 30px;
    content: url(../img/Mholan_Logo.png);
}

.add-pane {
	margin-top: 5px;
}

.gridster header {
    height: 0px;
}

header h1 {
    line-height: 0px;
    font-size:10px;
}

.board-toolbar li {
	padding:2px 3px;
    margin: 1px 2px;
    /*background-color: #0003;*/
    border-radius: 2px;
}

div.calculated-setting-row ul.board-toolbar li,
.board-toolbar.vertical li {
    padding: 8px 8px;
}

li.column-tool {
	margin-top: -3px;
}

.text-button {
    color: #fff;
    font-weight: 400;
}


.gridster .gs_w {
	overflow: visible;
	background-color: #383838;
    cursor:default;
}

.gs_w.move {
    cursor:move;
}

.gridster section, 
.sub-section,
.widget {
	overflow: visible;
}

.pane-tools {
	height: 20px;
	position: absolute;
	top: -20px;
    opacity: 0;
    z-index: 100 !important;
}

.pane-tools li,
.pane-tools li i {
	z-index: 1100 !important;
}

#main-header {
	z-index: 100;
}
.modal {
	z-index: 200;
}

.pane-tools li {
	padding:2px 3px;
    margin: 1px 2px;
    /*background-color: #0003;*/
    border-radius: 2px;
    /*border: 1px solid #ffffff33;*/

}

.tooltip {
    z-index: 350;
}

li.gs_w.player-revert {
    z-index: 100 !important;
}

.pane-tools:hover {
  opacity: 1;
}

header:hover ul.pane-tools {
    opacity: 1;
    /*z-index: 1150 !important;*/
}

li:hover header ul.pane-tools {
    opacity: 1;
    /*z-index: 1150 !important;*/
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: 0;
    background-color: #F90;
}

.modal {
	top: 50px;
}

.wrapperloading {
    position: absolute;
    height: 100px;
    width: 100px;
    margin-top: -50px;
    margin-left: -50px;

}

.wrapperloading .loading.up {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 75px;
}

.wrapperloading .loading.down {
    height: 50px;
    width: 50px;
    margin-top: -25px;
    margin-bottom: 25px;
    margin-left: -25px;
    margin-right: 25px;
}

#board-content {
    padding:0 !important;
    margin:0;
    bottom:0 !important;
	margin-top: 3px;
	/*margin-top: -20px;*/
	/*margin-top: -10px;*/
	/*margin-bottom: 50px;*/
}

#board-content-bottom {
    height:15px
}

#board-content-bottom.edited {
    height:30px !important;
}

#board-content-bottom.full-screen {
    height:0px !important;
}

.iconblackboard {
	background-image:url(../img/glyphicons-blackboard.png);
	width:14px;
	height:14px;
}

.iconlogin {
	background-image:url(../img/glyphicons-log-in.png);
	width:14px;
	height:14px;
}

.iconlogout {
	background-image:url(../img/glyphicons-log-out.png);
	width:14px;
	height:14px;
}

.icon-resize-fullscreen {
	background-image:url(../img/glyphicons-log-out.png);
	width:14px;
	height:14px;
	background-size: contain;
	/*background-color: #fff;*/
}

.icon-resize-full {
    background-position: -216px 0
}
.icon-resize-small {
    background-position: -216px 0
}

.widget {
    padding: 0px 0px;
    align-items: center;
    align-content: center;
    justify-content: center;
    vertical-align: middle;
    align-self: center;
}

.center {
    align-items: center;
    align-content: center;
    justify-content: center;
    vertical-align: middle;
    align-self: center;
}

.gs_w.transparent_bg {
	background-color: #2a2a2a00 !important;
	opacity: 1 !important;
    border-width: 0 !important;
}

.transparent_bg.active #transparent_overlay {
    background-color: #2a2a2a00 !important;
}


.sub-section {
    border-width: 0 !important;
}

/* js script editor window*/
.code-mirror-wrapper {
    bottom: 40px;
    top: 70px;
}
.code-window-footer {
    height: 40px;
    line-height: 40px;
}

/* form */
.form-row {
    width: 100%;
}
.form-value {
    width: calc(100% - 275px);
}
.form-value input.text {
    width: calc(100% - 14px);
}

.form-value select,
div.form-table-value-subtable {
    width: 100%;
    max-height: 250px;
}
div.setting-description {
    max-width: none;
}

input.table-row-value {
    width: calc(100% - 20px);
}

/*[id^=setting-value-container-] {
    width: calc(100% - 175px);
}*/

/*#setting-value-container-script_text {
    width: calc(100% - 175px);
}*/

div.calculated-setting-row {
    width: calc(100% + 110px);
}

div.calculated-setting-row textarea {
    position: relative;
    display: inline-block;
    float: left;
    width: calc(100% - 124px);
}

textarea.calculated {
    width: calc(100% - 225px) !important;
}

textarea.calculated.removable {
    width: calc(100% - 254px) !important;
}

/*#setting-value-container-datasource {
    width: calc(100% - 175px);
}*/

ul.datasource-input-suffix {
    display:inline-block;
    width:none;
    margin-left: 0px;
}

ul.datasource-input-suffix li {
    padding: 7px 3px !important;
}

/* Url Option Widget */
.url-option-container,
.url-option-container div{
    display: inline-flex;
    height: 100%;
    width:100%;
    left:0;
    right:0;
    padding: 0 0px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/*.url-option-container h2.section-title {
    height: 12px !important;
}*/

.url-option-container .styled-select select {
    /*width: calc(100% - 10px);*/
    left:0px;
    right:0px;
    height: 25px;
    padding: 0px 30px 2px 6px;
    margin: 0 5px;
    font-size: 12px;
    background-color: #38383800;
    border-width: 0;
    border-bottom: 1px solid #fff;
    cursor: pointer;
}




/*.url-option-container .styled-select select option{
    border-width: 0;
    border-bottom: 1px solid #fff;
}*/

/*select.select-arrow-active:after {
  transform: rotate(180deg);
}*/






/*.tw-display {
	margin-left: 10px;
}*/

h2.section-title {
	height:12px !important;
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;
    padding-top: 3px;
}


/* Text Sparkline Widget */
.tw-value-wrapper {
	height:18px !important;
	padding-left: 8px;
	padding-right: 8px;
}

/*.tw-value-subwrapper {
	height: 100%;
	width:100%;
}*/

.tw-value {
	vertical-align: bottom;
}
.tw-unit {
	padding:0 0 5px 3px !important;
	font-size: 10px;
}

.tw-sparkline canvas {
	height: 34px !important;
	/*padding: 0 10px;*/
}
.tw-sparkline {
	/*padding-left: 2%;
	padding-right: 2%;*/
    padding:3px;
}
/* Sparkline */
.sparkline {
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 2%;
	padding-right: 2%;
}

.sparkline-legend {
	padding: 0 10px;
}

.sparkline-legend-value {
	font-size: 12px;
	width: 33% ;
}

.sparkline-legend-value span{
	font-size: 14px;
}


/* Pointer Widget */
svg {
	left: 50% !important; 
	transform: translateX(-50%);
	position: relative;
} 

.pointer-value {
/*	justify-content: center !important;
	vertical-align: middle !important;
	align-items: center !important;
	align-content: center !important;*/
}

.widget-big-text {
	padding-top: calc(45% - 17px);
	/*margin: auto;*/
}


/* Longdo Map Widget */
.ldmap_bottomright .ldmap_notice {
	visibility: hidden !important;
}
.ldmap_placeholder {
    min-width: 0px !important;
    min-height: 0px !important;
}
.ldmap_placeholder_fullscreen {
    z-index: 1000 !important;
}

li.gs_w section div div.widget div div.ldmap_placeholder_fullscreen {
    /*position:static !important;*/
    z-index: 1000 !important;
}


/* Indicator Light */
.indicator-light-container {
	/*margin-top:17px;*/
	bottom: 0;
	width: 100%;
/*	text-align: center;
	justify-content: center;*/
	vertical-align: middle;
}
/*.indicator-light,
.indicator-text {
	margin: 0;
	transform: translateY(-50%);
}*/
.indicator-light {
	margin: 0 5px;
	/*margin-left: 20px;*/
}
.indicator-text {
	font-size: 16px;
	display: block;
}


/* Slider*/
.ui-slider-horizontal {
    height: 10px !important;
}

.myui-slider-handle {
	width: 20px !important;
	height: 20px !important;
    border-radius: 3px !important;
}

.slider-label {
	margin-top:3px;
}

.slider-value {
    position: absolute;
    color: #fff;
    top:18px;
    right: 10px;
    font-size: 13px;
    font-weight: bold;
}

/* Toggle */
.netpie-toggle {
	/*height:30px;*/
	margin:2px 5px;
}

.netpie-toggle-label {
	height:30px !important;
	width:98px;
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px ;
}

.netpie-toggle-text {
    vertical-align: middle;
    padding: 12px 0 0 10px;
    float: left;
}


/* Hichart */
rect.highcharts-button-box {
/*	width:20px !important;
	height:20px !important;*/
	fill: #0000 !important;
}
/*path.highcharts-button-symbol {
	width:10px !important;
	height:80px !important;
}*/


/* Horizontal Gauge */
.horizontal-gauge-container div.rangeSlider div.rangeSlider__handle,
.horizontal-gauge-container div.rangeSlider div.rangeSlider__handle:after {
	background-color: #0000;
	background: #0000;
	border: 0px solid #0000;
	box-shadow: none;
}
.horizontal-gauge-container div.rangeSlider div.rangeSlider__fill {
	border-radius: 5px;

}

.horizontal-gauge-container * {
	pointer-events: none !important;
}


/* Custom Highchart */
.highcharts-container,
.highcharts-container svg.highcharts-root {
    overflow: visible !important;
}
svg.highcharts-root path {
    z-index: 10;
}


/* Circular Progress */
.pie_progress {
  text-align: center;
  position: relative;
  transform-style: preserve-3d;
}
.pie_progress svg {
  margin: 0 auto;
}
.pie_progress__content,
.pie_progress__number,
.pie_progress__label,
.pie_progress__icon {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.pie_progress__number {
  /*font-size: 42px;*/
}
.pie_progress__label {
  /*margin-top: 32px;*/
  font-size: 12px;
}





/* Code Editor */
/*.code-window-header {
    padding: 10px 20px;
}
*/









/*.sub-section-height-1 {
	height: 40px;
}
.sub-section-height-2 {
	height: 86px;
}
.sub-section-height-3 {
	height: 132px;
}
.sub-section-height-4 {
	height: 178px;
}
.sub-section-height-5 {
	height: 224px;
}
.sub-section-height-6 {
	height: 270px;
}
.sub-section-height-7 {
	height: 216px;
}
.sub-section-height-8 {
	height: 362px;
}
.sub-section-height-9 {
	height: 408px;
}
.sub-section-height-10 {
	height: 456px;
}
*/

/*.sub-section {
    border-bottom: solid 1px #363636;
}*/


body {
	/*background: url(https://tunchz.github.io/PoC/MWA/static/diagonal-noise_dark.png);*/
	/*background: url(https://tunchz.github.io/PoC/MWA/static/diagonal-noise.png);*/
}











/*

.clone-ribbon-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 150px;
    height: 150px;
    overflow: hidden
}

.clone-ribbon {
    position: absolute;
    top: 42px;
    right: -43px;
    z-index: 9999;
    padding: 2px 0;
    background-color: #a00;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.15)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#000000', EndColorStr='#000000');
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5)
}

.clone-ribbon a {
    display: inline-block;
    width: 200px;
    padding: 2px 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
    border-color: rgba(255, 255, 255, 0.7);
    border-style: dotted;
    border-width: 1px 0
}*/

#footer-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 25px;
    background-color: #313131;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
    transition: background-color 0.4s ease-in-out;
}

#footer-menu {
    position: absolute;
    right: 0;
    left: 0;
    /*max-width: 950px;
    padding-right: 20px;
    padding-left: 20px;*/
    margin: 0 10px;
}

#footer-logo.title.bordered {
    float: left;
    padding: 3px 3px;
    margin:0;
    /*margin: 3px 0 0 0;*/
    font-size: 12px;
    line-height: 18px;
    border-width: 2px;
}

.logo-Mholan-footer {
    width: 20px;
    height: 17px;
    content: url(../img/Mholan_Logo.png);
}

#avatar-footer {
	float: left;
	margin: 2px;
	margin-left: 20px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    /*border:1px solid #444;*/
    content: url(../img/Mholan_Logo.png);
    transition: margin-left 0.4s ease-in-out;
}

#board-title {
    display: block;
    max-width: 50%;
    padding-left: 5px;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 100;
    line-height: 23px;
    color: #d3d4d4;
    text-overflow: ellipsis;
    /*text-transform: uppercase;*/
    white-space: nowrap
}

#footer-toolbar {
    position: absolute;
    top: 1px;
    right: 0;
    transition: right 0.4s ease-in-out;
}

.share-link {
    margin-top: 20px;
    font-size: 16px;
    letter-spacing: 2px;
    color: #d3d4d4;
    cursor: pointer;
    -webkit-user-select: all;
    -khtml-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
    -webkit-touch-callout: all
}

.share-list-container {
    padding-bottom: 30px;
    margin-top: 20px
}

.shared-with-list {
    max-height: 175px;
    margin-bottom: 20px;
    overflow: scroll
}

.shared-with-row {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    clear: both;
    color: #d3d4d4
}

.shared-with-field {
    float: left;
    padding-top: 5px;
    margin-right: 10px
}

.shared-with-email {
    width: 50%
}

.shared-with-rights {
    width: 115px;
    padding-top: 0
}

.shared-with-rights .styled-select select {
    width: 100%
}

.shared-with-toolbar {
    padding-top: 0
}

#dev-console {
    font-size: 9px;
    color: #575656
}

.dev-console-bar {
    position: absolute;
    top: 11px;
    right: 11px
}

#publicPrivateSwitch {
    width: 110px
}

#publicPrivateSwitch .onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: 0
}

#publicPrivateSwitch .onoffswitch-switch {
    right: 79px
}

/*@media screen and (max-width:960px) {*/
@media screen and (max-width:500px) {
    #dev-console {
        display: none
    }

    #full-screen-action {
        display: none
    }

    #share-action {
        display: none
    }

    #clone-action {
        display: none
    }
}