html,
body {
  font-size: 13px;
  font-family: Helvetica, Arial, sans-serif !important;
  color: #606266 !important;
}

.fillCurrent {
  fill: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #000;
}

.navbar-brand {
  font-weight: bold;
}
/* used by sankey diagram and network graph */
/* .node-rect.focus, */
/* circle.focus,
path.focus {
  stroke: #000 !important;
  stroke-width: 2px !important;
} */

.btn {
  border-radius: 6px;
  padding: 3px 16px;
}

.btn-success {
  background-color: #d2e600;
  color: white;
  border: 1px solid #d2e600;
  border-radius: 6px;
}

.full-size {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.center-on-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

[v-cloak] {
  display: none;
}

#watermark {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: #000;
}

#tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 10px;
  background-color: white;
  color: #787878;
  -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip strong {
  color: #333;
  font-weight: 500;
}
#searchField {
  position: absolute;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #eee;
  color: rgb(104, 104, 104);
  padding-left: 10px;
  width: 200px;
  height: 30px;
  top: 15px;
  right: 60px;
}

#theSideBar .sidebar-header {
  background-color: #f1f1f1;
  border-bottom: 1px solid #e7e7e7;
}
#theSideBar {
  top: 0px;
  left: 0px;
  width: 150px !important;
  height: 100%;
  background-color: hsl(0, 0%, 0%);
  z-index: 1;
}

/* analytics-buttons */
#analyticsTopButton {
  position: absolute !important;
  top: 15px;
  left: 10px;
  border: 1px solid #ddd;
  color: rgb(104, 104, 104);
  border-radius: 50%;
  width: 32px;
  background-color: #fff;
}
/* add forced css property to analytics-menu and make the */

body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: Helvetica, Arial, sans-serif;
}
svg #map {
  top: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
}
/* #map {
  position: initial !important;
} */
.svgclass {
  overflow: visible !important;
}
.leaflet-container {
  height: 500px;
}
#map {
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
}
.geoSankeyPath {
  stroke-linecap: round;
  stroke-width: 4;
  pointer-events: all !important;
}
.leaflet-pane > svg path {
  pointer-events: all !important;
}
.leaflet-tooltip-pane {
  z-index: 6500 !important;
}

.flowline {
  fill: none;
  stroke: black;
  opacity: 0.5;
  stroke-width: 4;
  stroke-dasharray: 10, 1;
  -webkit-animation: flow 1s linear infinite;
  animation: flow 1s linear infinite;
}

html {
  font-size: 12px;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background-image: none;
}
input[type='color'] {
  padding: 0;
  margin-left: 20px;
  margin-top: 2px;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 30px;
  height: 15px;
  border-radius: 3px;
  outline: 0;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0px;
}
input[type='color']::-webkit-color-swatch {
  border: solid 1px #dee3e6;
  border-radius: 3px;
}
input[type='color']::-moz-color-swatch {
  border: solid 1px #dee3e6;
  border-radius: 3px;
}

.alert {
  border-radius: 0;
}

.badge-dimension {
  background-color: #4996b2;
  color: #fff;
  padding: 5px 10px;
  font-size: 0.8rem;
  font-weight: normal;
}

.badge-measure {
  background-color: #00b180;
  color: #fff;
  padding: 5px 10px;
  font-size: 0.8rem;
  font-weight: normal;
}

.badge-parameter {
  background-color: #837096;
  color: #fff;
  padding: 5px 10px;
  font-size: 0.8rem;
  font-weight: normal;
}

.custom-select {
  background-color: rgb(253, 253, 253);
  border-radius: 6px;
}
.input-group-dimension .input-group-text {
  border-color: rgb(212, 212, 212);
  background-color: rgb(250, 250, 250);
  color: #666;
}
.input-group-text {
  border-radius: 6px;
  width: 120px;
}
.input-group-dimension .custom-select {
  border-color: rgb(212, 212, 212);
}

.input-group-measure .input-group-text {
  border-color: rgb(212, 212, 212);
  background-color: rgb(250, 250, 250);
  color: #666;
}

.input-group-measure .custom-select {
  border-color: rgb(212, 212, 212);
}

.input-group-parameter .input-group-text {
  border-color: #837096;
  background-color: #837096;
  color: #fff;
}

.input-group-parameter .custom-select {
  border-color: #837096;
}

.border-success {
  border-color: #d2e600 !important;
}

.btn-success:hover {
  color: #fff !important;
  background-color: #ff3191 !important;
  border-color: #ff3191 !important;
}

.btn {
  border-radius: 6px;
  padding: 3px 16px;
}

.btn-success {
  background-color: #d2e600;
  color: white;
  border: 1px solid #d2e600;
  border-radius: 6px;
  padding: 3px 16px;
}

.btn-outline-secondary {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 3px 16px;
}

.btn-success:disabled {
  color: #fff;
  background-color: #d2e600;
  border-color: #d2e600;
}

.btn-success:hover {
  color: #fff;
  background-color: #d2e600;
  border-color: #d2e600;
}

.btn-cancel {
  padding: 3px 10px;
}
.btn-danger {
  background-color: #eb4454;
  color: white;
  border: 1px solid #eb4454;
  border-radius: 6px;
}

.btn-light:focus,
.btn-light:hover,
.btn-light:active {
  color: #212529;
}

.clickable {
  cursor: pointer;
}

.selected {
  border-color: #d2e600 !important;
  box-shadow: none !important;
  /* box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5) !important; */
}

.btn.selected {
  color: white !important;
  background-color: #d2e600 !important;
}

.card,
.form-control {
  border-radius: 6px;
}

.card.disabled {
  background-color: hsl(0, 0%, 98%);
}

.card.disabled .card-img-top {
  -webkit-filter: grayscale(100%) brightness(0.98);
  filter: grayscale(100%) brightness(0.98);
}

.card.disabled .badge-dimension {
  background-color: hsl(196, 30%, 70%);
}

.card.disabled .badge-measure {
  background-color: hsl(163, 40%, 65%);
}

.card.disabled .badge-parameter {
  background-color: hsl(270, 15%, 75%);
}

[v-cloak] {
  display: none;
}

.arrow {
  width: 0;
  height: 0;
  border: 0.5em solid transparent;
  border-left: 0.5em solid;
  border-left-color: inherit;
  transform: translateX(0.25em);
  transition: transform 0.35s ease;
}

.arrow.open {
  transform: rotate(90deg) translateX(0.25em);
}

.shortcode {
  background-color: #f5f6f7;
  padding: 3px;
  margin-right: 6px;
  line-height: 26px;
  border-radius: 3px;
}
.shortcode:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #d2e600;
}

/*********** Baseline, reset styles ***********/
input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

/* Removes default focus */
input[type='range']:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type='range']::-webkit-slider-runnable-track {
  background-color: #f5f6f7;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */
  background-color: #d2e600;
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type='range']::-moz-range-track {
  background-color: #f5f6f7;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type='range']::-moz-range-thumb {
  background-color: #d2e600;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

.hidden {
  display: none;
}
