
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Serithai","Mitr";
}

canvas {
  position: absolute;
}

strong {
  font-weight: bold;
}

small {
  font-size: smaller;
}

svg {
  position:absolute;
  /*top: 20%;
  right: 0%;
  margin-top:20px;
  margin-bottom:20px;
  width:70%;
  height:72%;
  background-color:#fff;*/
  opacity: 1;

}

svg text {
  /*font-family:sans-serif;*/
  font-size:10px;
  font-weight: "bold";
}

.x-axis path,
.x-axis line,
.z-line line,
.y-axis path {
  fill: none;
  stroke: #383838;
  shape-rendering: crispEdges;
}

.scatter-wrap .x-axis .tick,
.scatter-wrap .y-axis .tick {
  opacity:0 !important;
}

.scatter-points .point {
  transition: stroke-width 0.2s;
}

.line-wrap text {
  font-size:12px;
}


.text-wrap text {
  font-size:16px;
}



.marker {
  /*background-image: url('img/aom.jpg');*/
  background-size: cover;
  width: 30px;
  height: 30px;
  padding: 2px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #ffcc00;
  opacity: 1;
}

#thumbnail {
  border-radius: 10%;
  border: 2px solid #ffcc00;
}


 
.mapboxgl-popup {
  max-width: 240px;
  color:#000;
}

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right {
  opacity: 1;
}






#map-container { 
  position:absolute; 
  top: 0%;
  left: 0%; 
  width: 100%; /*90%;*/
  height: 100%;  
}


#map { 
  position: absolute;
  width: 100%; /*90%;*/
  height: 100%;
}

#table-container {
  border-radius: 5px;
  box-shadow: 0 0 3px #777;

}

.table-container {
  /*margin: 5px;
  padding: 5px;*/
  background-color: #ffffff;
  position: relative;
  left: 50%;
  top: 50%;
  /*padding: 10px 0px;
  bottom: auto;
  right: auto;*/
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  height: 100%;
  overflow: auto;
  /*background-color: #ffcc00;*/
}


th {
  padding: 0px 0px;
  text-align: left;
  vertical-align: middle;
}

td {
  padding: 0px 0px;
  text-align: left;
  vertical-align: middle;
  border-collapse: collapse;
}

table {
  width: 100%;
  /*color:#fff;*/
  border-collapse: collapse;
  font-family: Serithai;
}

/*-------------Table Image-----------------*/

.table_row {
  /*height: 60px;
  border-top: 3px solid #383838;
  border-bottom: 3px solid #383838;*/
  cursor: pointer;
  /*background-color: #ffcc00;*/
  /*border-left: 5px solid #383838;
  border-right: 5px solid #383838;*/
  padding: 3px 0px; 
  /*margin: 3px;
  background-color: #494949;
  border-radius: 5px;
  border-top: 1px solid #ddd;*/
  border-bottom: 1px solid #ddd;
}

.table_row:hover {
  background-color: #eee;
  /*opacity: 0.3;
  border-left: 7px solid #fff;*/
  /*border-left: 5px solid #2a58c3;
  border-right: 5px solid #2a58c3;*/
}

.detail {
  font-size: 12px;
  font-weight: bold;
  padding: 0px 0px;
  /*text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  text-shadow: 0 0 3px #fff;*/
}

.subdetail {
  font-size: 9px;
  font-weight: normal;
  padding: 0px 0px;
}

.tag {
  font-size: 11px;
  padding: 0px 0px;
  font-weight: bold;
  justify-content: right;
  padding-right: 10px;
  text-align: right;
}

.subtag {
  font-size: 9px;
  font-weight: normal;
  padding: 0px 0px;
  padding-right: 10px;
  text-align: right;
}

.table_img_container{
  width: 35px;
  height: 35px;
  margin: 2px 10px 2px 10px;
  justify-content: center;
  align-items: center;  
  display: flex;
  background-color: #fff;
  border-radius: 50%;  
}

.table_img {
  background-size: cover;
  padding: 2px;
  /*width: 60px;
  height: 60px;*/
  border-radius: 50%;
  cursor: pointer;
  /*border: 2px solid #ffcc00;*/
  opacity: 1;
  vertical-align: middle;
}

.img_col {
  width: 55px;
}

.tag_col {
  width: 90%;
}

.detail_col {
  min-width:70px;
  padding-left: 5px;
}

#table_image {
  color:#000;
}

/*-------------Table Marker-----------------*/

.table_row_marker {
  height: 50px;
  /*border-top: 3px solid #383838;
  border-bottom: 3px solid #383838;*/
  cursor: pointer;
  /*background-color: #ffcc00;*/
  /*border-left: 5px solid #383838;
  border-right: 3px solid #383838;*/
  padding: 0px 0px 0px 2px;
}

.table_row_marker:hover {
  background-color: #ccc5;
  /*opacity: 0.1;
  border-left: 7px solid #fff;*/
  /*border-left: 5px solid #2a58c3;
  border-right: 5px solid #2a58c3;*/
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.table_col_marker {
  height: 55px;
  width: 96px;
  /*border-top: 3px solid #383838;
  border-bottom: 3px solid #383838;*/
  cursor: pointer;
  /*background-color: #ffcc00;*/
  /*border-left: 5px solid #383838;
  border-right: 5px solid #383838;*/
  padding: 1px 2px 0px 2px;
}

.table_col_marker:hover {
  background-color: #ccc5;
  /*opacity: 0.1;
  border-left: 7px solid #fff;*/
  /*border-left: 5px solid #2a58c3;
  border-right: 5px solid #2a58c3;*/
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


.tag_marker_bg {
  width:  15px;
  height: 15px;
  margin: 3px 0px 0px 1px;
  border-radius: 50%;
  vertical-align: middle;
  justify-content: center;
  padding-top: 0px;
  box-shadow: 0 0 2px #777;
}

.tag_marker {
  width: 15px;
  height: 15px;
  font-size: 8px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
}

.subtag_marker {
  font-size: 10px;
  font-weight: bold;
  padding: 14px 0px 0px 3px;
  text-shadow: 0px 0px 2px #777;
}

.detail_marker {
  font-size: 10px;
  padding: 6px 0px;
  font-weight: normal;
  justify-content: right;
  padding-right: 0px;
  text-align: left;
}

.subdetail_marker {
  font-size: 10px;
  font-weight: bold;
  padding: 0px 0px;
  padding-left: 5px;
  text-align: left;
  color:#fff;
}
.table_img_marker_container{
  width: 42px;
  height: 42px;
  margin: 2px 0px 2px 2px;
  justify-content: center;
  align-items: center;  
  display: flex;
  background-color: #fff;
  border-radius: 50%;

  box-shadow: 0 0 3px #777;
}

.table_img_marker {
  background-size: cover;
  padding: 0px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  cursor: pointer;
  /*border: 2px solid #ffcc00;*/
  vertical-align: middle;
}

.marker_icon {
  width:  26px;
  height: 26px;
  font-size: 20px;
  color: #fff;
  font-weight: normal;
  padding: 0px 0px 0px 0px;
  text-align: center;
  vertical-align: middle;
  margin-top: -9px;
  /*font-family: "fontello";*/
}


.img_col_marker {
  min-width: 39px;
  max-width: 39px;
  width: 20%;
}

.detail_col_marker {
  /*min-width: 70px;
  max-width: 120px;
  width: 28%;*/
  padding-left: 3px;
  padding-bottom: 5px;
}

.tag_col_marker {
  width:53px;
  padding-top: 0px;
}

#table_image_marker {
  color:#fff;
}

/*----------------------------------------------------------*/


html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  /*scroll-snap-destination: 0% 100%;*/
}


.section-container {
  position: relative;
  height: 100vh;
  width: 100%;
}



.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px;
}

.btn {
    border-radius: 2px;
    padding: 1px 3px;

}

.btn-primary {
    background-color: #2a58c3;
    background-image: linear-gradient(to bottom, #2a58c3 0, #2a58c3 100%);
}

.form-control {
  border-radius: 2px;
  height: 24px;
  padding: 0px 3px;
  background-color: #383838;
  color: #fff;
  border-color: #aaa;
}

.input-group-addon {
  border-radius: 2px;
  padding: 0px 6px;
  background: #383838;
  color: #fff;
  border-color: #aaa;
}

.form-control:hover, .input-group-addon:hover  {
  background: #fff;
  color: #383838;
}

.btn-default {
  background: #383838;
  color: #fff;
  border-color: #aaa;
  font-size: 12px;
  font-weight: 400;
}

.btn:focus, .btn:active {
  background: #2a58c3;
  color: #fff;
  outline: none;
}

.toolbar-pf .form-group {
    border-right: 1px solid #d1d1d1;
    display: table-cell;
    float: left;
    margin-bottom: 0;
    padding-left: 2px;
    padding-right: 2px;
}

.toolbar-pf {
    background: #383838;
    border-bottom: 0px solid #d1d1d1;
    box-shadow: 0 0px 0 rgba(3, 3, 3, 0);
    padding-top: 0px;
    /*width: 100%;*/
}

.toolbar-pf-actions {
    margin-bottom: 0px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}


.filter-row {
  padding : 3px 0px;
  vertical-align: middle;
  justify-content: flex-end;
  display: flex;
}

.filter-container {
  padding : 5px 5px 5px 0px;
}

.card {
  padding-top: 0px;
  padding-bottom: 0px;
}

.card-menu {
  /*background-color: #383838;*/
}

.card-menu:hover {
  cursor: pointer;
  background-color: #555; 
}

#daydisplay {
  margin-bottom: -19px;
  color: #fff;
  font-family: Impact;
  font-size: 62px;
}

#monthdisplay {
  padding-left: 5px;
  padding-bottom: 2px;
  color: #fff;
  font-family: Impact;
  font-size: 18px;
}

.modal .modal-backdrop {
  z-index: 100;
}

.modal-dialog {
  z-index: 200;
}

.table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>th {
    font-family: 'Serithai';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
}

#dept-selector {
  width: 191px;
  border-radius: 2px;
  height: 24px;
  padding: 0px 3px;
  background-color: #383838;
  color: #fff;
  border-color: #aaa;
  cursor: pointer;
}

#dept-selector:hover {
  background-color: #fff;
  color: #383838;
}


.select-container {
  padding : 5px 0px 5px 5px;
  margin-right: -10px
  vertical-align: middle;
  justify-content: flex-end;
  display: flex;
  color: #383838;
  background-color: #fff;
}


.button-control, .button-control:focus {
  width : 45px;
  height: 45px;
  margin : 0px 2px;
  background-color: #2a58c3;
  color: #fff;
  border-color: #2a58c3;
  border-radius: 2px;
  font-size: 24px;
}

.button-control:hover {
  background-color: #fff;
  color: #2a58c3;
  border-color: #2a58c3;
}

.noti, .noti:hover {
  border-radius: 2px;
  padding : 5px;
  position: absolute;
  float : center;
  color : #fff;
  background-color: #ffffff38;
  font-family: Impact;
  font-size: 16px;
  font-weight: 200;
}

.button-img {
  width:100px;
  height:100px;
  padding: 0px;
  margin: 0px 7px;
  border-radius: 10px;
  border: 6px solid #222222;
  border-radius: 2px;
  background-color: #222222;
}

.button-img:hover, .button-img:focus, .button-img:active {
  border: 2px solid #494949;
  background-color: #494949;
}

.button-img:focus, .button-img:active {
  border: 2px solid #fff;
}

red {
  color : #f00;
}

red:hover {
  text-decoration: underline
}

#ip {
  height: 24px;
  padding: 0px 3px;
  margin: 0px 3px;
  border: 1px solid #aaa;
}

.map-menu-button, .map-menu-button:focus {
  margin: -5px 0 0 -3px;
  /*padding: 0 5px;*/
  width: 45px;
  height:40px;
  border-radius: 2px;
  background-color: #ffffff00;
  color: #fff;
  /*font-size: 18px;*/
  border-width: 0px;
  outline: none;
  font: 28px Serithai;
  text-shadow: 0px 0px 3px #777;
}

.map-menu-button:hover {
  background-color: #ffffff00;
  color: #2a58c3;
}

.map-menu-button:active {
  background-color: #ffffff00;
  color: #2a58c388;
}

#header-container { 
  width:123px;
  height: 30px;
  padding: 0px; 
  margin: 5px 0px 51px 5px; 
  position: relative; 
  /*left: 0px; 
  top: 0px; */
  z-index: 100;
}

#logo-container {
  cursor: pointer; 
  pointer-events: auto;
}

#title-container {
  display:block;
  visibility: hidden;
}

.map_addon_top_right { 
  width:90px;
  padding: 0px; 
  margin: 0px; 
  position: absolute; 
  right: 1px; 
  top: 0px; 
  /*cursor: pointer; */
  display: none;
}

#menu-container-bottom-right { 
  height : 34px;
  padding: 0 10px 0 0; 
  margin: 0px; 
  position: relative; 
  /*right: 10px; 
  bottom: 75px; */
  /*cursor: pointer; */
  pointer-events: auto;
  display:none;
}

#notification-container-right{ 
  height: 100%;
  width: auto;
  padding: 10px 0 0 0; 
  /*padding: 10px 0 0 0; */
  margin: 0px; 
  position: relative;
  right: 0px; 
  /*top: 0px; 
  bottom: 0px; */
  /*cursor: pointer; */
  /*border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;*/
  display: block;
  background-color: #ffffff00;
  pointer-events: auto;
  font: 0px Serithai;
}

#notification-container-bottom{ 
  width: 100%;
  height: auto;
  padding: 0 0 0 10px; 
  margin: 0px; 
  position: relative; 
  /*right: 0px; 
  left: 0px; */
  bottom: 0px; 
  /*cursor: pointer; */
  /*border-top-left-radius: 3px;
  border-top-right-radius: 3px;*/
  display: block;
  /*background-color: #ffffff00;*/
  pointer-events: auto;
  font: 0px Serithai;
  opacity: 1;
  visibility: visible; 
}

.map_custom_marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}


#map_style_menu_button {
  /*height: 30px;
  width:30px;
  left: 10px;
  top: 245px;
  border-radius:2px;
  position: absolute;*/
  background: #fff; /*#2a58c3;*/
  padding: 0px;
  font-family: 'impact', sans-serif;
  /*opacity:0.6;*/
  cursor: pointer;
  box-shadow: 0 0 3px #777;
  cursor: pointer !important;
}

#map_style_menu_button:hover {
  background: #ddd;
  opacity: 1;
}

#map_style_menu_button_image {
  height: 25px;
  width: 25px;
  margin:2px;
  border-radius: 0 4px 4px 0;
  /*border: 3px #2a58c3;*/
  background-image: url("images/MapStyle.png");
}

#map_style_menu_outline {
  height: auto;
  left: 0px;
  top: 163px;
  position: absolute;
  padding: 10px;
  padding-left: 0px;
  border-radius:0 5px 5px 0;
  /*cursor: pointer;*/
  pointer-events: auto;
  z-index: 100;
}
#map_style_menu {
  width: 140px;
  color:#383838;
  height: auto;
  background: #fff;
  padding: 5px 15px 0px 15px;
  font-family: 'Serithai', sans-serif;
  font-size: 12px;
  border-radius: 0 5px 5px 0;
  margin: 8px;
  margin-left: 0px;
  box-shadow: 0 0 3px #777;
}

input, label {
  cursor: pointer;
}


/* custom scrollbar */
/* width */

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff00; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #8880; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5550; 
}


#right-panel {
  transition: margin-left .5s;
}

#left-panel {
  transition: margin-right 0.5s;
}

#table-container-MAP {
  padding:10px 0px 10px 0px;
  /*padding:40px 0px 10px 0px;*/
  width: 105px;
}

#vertical-table-container-MAP {
  padding:0px 10px 0px 0px;
}

.modal {
  pointer-events: auto; 
  font-family: Serithai;font: 12px/16px Serithai;
  cursor : auto;
}

.float-right {
    float: right!important;
}

.modal-filter {
  width: 400px;
  z-index: 200;
  position: absolute;
  bottom: 0px;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
}

.modal-close {
  background: 0 0;
  border: 0;
  color: #000;
  height: 1.2rem;
  /*line-height: .8rem;
  margin-left: .2rem;*/
  margin-right: -2px;
  opacity: 1;
  padding: .1rem;
  text-decoration: none;
  width: 1.2rem;
}

.form-group {
  margin-bottom: 5px;
}

.form-label {
  margin-bottom: 0px;
}

.form-input {
  width:100%;
  max-width: 100%;
  height: 22px;
}

.form-select {
  width:100%;
  max-width: 100%;
  height: 22px;
}

option {
  white-space: nowrap;
  height: 20px;
  min-height: 15px;
  background-color: #eee;
  padding: 0px 2px;
  margin: 0px;
}


.btn-outline {
  /*font-style: normal;*/
  font-weight: 600;
  color: #2a58c3;
  border: 2px solid #2a58c3;
  margin-left: 5px;
}

.btn-outline:hover {
  color: #ffffff;
}

.form-select:not([multiple]):not([size]) {
  /*background: #fff url(data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%204%205'%3E%3Cpath%20fill='%23667189'%20d='M2%200L0%202h4zm0%205L0%203h4z'/%3E%3C/svg%3E) no-repeat right .35rem center/.4rem .5rem;
  */padding-right: 1.2rem;
}


/* autocomplete */

.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
  height: 100px;
}

.ui-menu-item {
  font-family: "Serithai";
  font-size:12px;
  background-color: #eee;
}

/* custom scrollbar autocomplete dropdown */
/* width */

.ui-autocomplete::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

/* Track */
.ui-autocomplete::-webkit-scrollbar-track {
  background: #fff0; 
  padding-right: 2px;
}
 
/* Handle */
.ui-autocomplete::-webkit-scrollbar-thumb {
  background: #ccc; 
  border-radius: 2px;
}

/* Handle on hover */
.ui-autocomplete::-webkit-scrollbar-thumb:hover {
  background: #aaa; 
}


/* detail table  ********************************/

    .detailTable>tbody {
      border-top: 10px solid white;
      padding-top: 5px;
    }

    .detailTable>tbody>tr>td {
      padding: 0 5px;
      border-radius: 5px;
      /*background-color: #7777770f;*/
      border: 2px solid #fff;
    }

    .detailTable-container {
      width: 100%;
      height: calc(100% - 63px);
      padding: 5px;
      background-color: #7777770f;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    .datailTable-scroll-container {
      width: 100%;
      height: 100%;
      padding: 0px;
      border-radius: 0px;
      overflow: auto;
    }

    .detailTable {
      width: 100%;
      padding: 5px 5px 10px 0px;
      border-collapse: separate;
      border-spacing: 0px;
      font-family: Serithai;
      font-size: 12px;
      background-color: #fff;
      color: #2a58c3;
      border-radius: 5px;
      cursor: normal;
    }
    .parent ~ .cchild {
      display: none;
    }
    .open .parent ~ .cchild {
      display: table-row;
    }
    .parent {
      cursor: pointer;
    }

    .open>.parent>.detailHeader {
      font-weight: bold;
/*      background-color: #2a58c3;
      color: #fff;*/
    }

    .parent > *:last-child {
      width: 30px;
    }
    .parent i {
      transform: rotate(0deg);
      transition: transform .3s cubic-bezier(.4,0,.2,1);
      margin: -.5rem;
      padding: .5rem;
     
    }
    .open .parent i {
      transform: rotate(180deg)
    }

    .header {
      font-weight: bold;
      cursor: pointer;
    }


    .detailTable>tbody>tr>.dstep {
      padding-left: 0px;      
      background-color: #fff;
    }

    .detailTable>tbody>tr>.dstep_date {
      float:right;
      background-color: #fff;
      margin-right:20px;
    }

    .detailTable>tbody>tr>.detailHeader {
      margin-top:3px;
      padding: 3px 5px 0 5px;
      background-color: #fff;
/*      color: #000;*/
      border: 1px solid #2a58c333;
      border-radius: 5px;
    }

    .detailHeader_col1 {

    }

    .detailHeader_col2 {
      float: right;
    }

    .icon_dropdown {
      margin-left:10px;
    }

    .cchild {
      vertical-align: text-top;
    }

    .topic {
      border-radius: 0;
      background-color: #3332;
      /*color: #fff; */     
      border: 0px  solid #fff;
      border-top: 3px solid #fff;
      border-bottom: 1px solid #fff;
      font-weight: bold;
    }

    .detailTable>tbody>tr>.bgblank, .detailTable>tbody>tr>.icon-circle, .detailTable>tbody>.topic>.bgblank {
      background-color: #fff;
    }

    .detailTable>tbody>tr>.icon-circle {
      width: 20px;
    }

/*// Header-Menu*/
#header-menu-container {
  position:absolute;
  width: 100vw;
  top:0px;
  left:0px;
  margin: 0 auto;
  /*background-color: #fff4*/
}

#header-menu {
  width:214px;
  height:30px;
  /*position:absolute;*/
  margin: 10px auto;
  margin-top: 10px;
  border-radius: 15px;
  border:2px solid #fff;
  box-shadow: 0px 0px 3px #777;
}

.header-menu-button {
  width: 70px;
  height: 26px;
  color:#2a58c3;
  margin:0;
  position:relative;
  display: inline-block;
  float:left;
  background-color: #fff0;
  font-family: Serithai;
  font-size: 14px;
  font-weight: bold;
  padding-top:4px;
  cursor:pointer;
  pointer-events: auto;
}

input[type="color" i] {
  /*border-color:#fff;*/
  border-width: 0px;
}

.geocoder {
  /*position: absolute;*/
  z-index: 120;
  width: 240px;
  height: 30px;
  /*left: 50%;*/
  margin: 0 auto;
  top: 10px;
}
/*.mapboxgl-ctrl-geocoder {
  min-width: 100%;  
}*/

.mapboxgl-ctrl-geocoder {
  height: 30px;
  padding-top: 0px;
}

#geocoder-toggle-icon {
  font-size:18px;
  float: right; 
  margin-top:3px; 
  margin-right:-30px;
  pointer-events: auto;
  cursor: pointer;
  text-shadow: 0 0 3px #777;
}

#home-toggle-icon {
  font-size:19px;
  float: left; 
  margin-top:4px; 
  margin-left:-30px;
  pointer-events: auto;
  cursor: pointer;
  text-shadow: 0 0 3px #777;
}

.-phone-layout {
  background-color: #eee; /*#7fadf8;*/
  box-shadow: 0 0 3px #777;
}

#notification-container-bottom-handle {
  height: 6px;
  width: 100px;
  border-radius: 3px;
  background-color: #7773;
  margin: 5px;
  float: center;
  display:flex;
  margin-right: auto;
  margin-left: auto;
}